html {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; }

*,
*:before,
*:after {
  box-sizing: inherit; }

*:focus {
  outline: 0;
  outline: none; }

.large-title {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  font-size: 19px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 31px;
  text-transform: uppercase; }
  @media (min-width: 1280px) {
    .large-title {
      letter-spacing: 4px;
      font-size: 70px;
      line-height: 100px; } }

.header {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center; }
  .header.logo {
    font-size: 15px;
    line-height: 50px;
    color: #000;
    text-align: left;
    letter-spacing: 3px; }
  @media (min-width: 1280px) {
    .header {
      line-height: 72px;
      font-size: 42px;
      line-height: normal;
      letter-spacing: normal;
      text-align: center; }
      .header.logo {
        font-size: 42px;
        line-height: normal;
        text-align: center; } }

.subhead {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: lowercase;
  color: #FFFFFF;
  text-align: center; }
  @media (min-width: 1280px) {
    .subhead {
      font-size: 16px;
      line-height: normal; } }

.body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-align: center; }

.nav-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 0 15px;
  height: 50px;
  width: 100%;
  z-index: 10; }
  @media (min-width: 1280px) {
    nav {
      padding: 44px 30px;
      height: 155px; } }

.top {
  display: none; }
  @media (min-width: 1280px) {
    .top {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center; }
      .top .memphis {
        margin: 0 60px; }
      .top .hashtag {
        margin-left: auto; } }

@media (min-width: 1280px) {
  .logo {
    margin: 10px; } }

.content {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  position: relative;
  z-index: 5;
  background-color: #6CB35D; }
  .content .splash {
    position: relative; }
    .content .splash img {
      width: 100%;
      height: auto;
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75); }
    .content .splash .large-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%; }
  @media (min-width: 1280px) {
    .content {
      margin-top: 155px; } }

.text-content {
  margin: 30px; }
  .text-content .box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    .text-content .box .titlebox, .text-content .box .para {
      flex: 1 1 100%; }
    .text-content .box .divide {
      width: 212px;
      height: 2px;
      background-color: #FFFFFF; }
      .text-content .box .divide.desktop {
        display: none; }
      .text-content .box .divide.mobile {
        display: block;
        margin: 20px 0; }
    .text-content .box .titlebox {
      margin-bottom: 20px; }
      .text-content .box .titlebox .leaf {
        display: none; }
    .text-content .box .para {
      margin-top: 40px; }
  @media (min-width: 1280px) {
    .text-content {
      margin: 40px; }
      .text-content .box .titlebox, .text-content .box .para {
        flex: 1 1 calc(50% - 2px); }
      .text-content .box .divide {
        width: 2px;
        height: 340px; }
        .text-content .box .divide.desktop {
          display: block; }
        .text-content .box .divide.mobile {
          display: none; }
      .text-content .box .titlebox {
        margin-bottom: 0; }
        .text-content .box .titlebox .leaf {
          display: block;
          margin: 0 auto;
          width: 143px;
          height: 94px; }
      .text-content .box .para {
        padding: 105px;
        margin: 0; } }
