nav {
    position: fixed;
    top: 0; left: 0;
    background-color: $white;
    padding: 0 15px;
    height: 50px;
    width: 100%;
    z-index: 10;
    @media (min-width: 1280px) {
        padding: 44px 30px;
        height: 155px;
    }
}

.top {
    display: none;
    @media (min-width: 1280px) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        & .memphis {
            margin: 0 60px;
        }
        & .hashtag {
            margin-left: auto;
        }
    }
}
.logo {
    @media (min-width: 1280px) {
        margin: 10px;
        text-align: center;
    }
}