.large-title {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-size: 19px;
    color: $white;
    line-height: 31px;
    letter-spacing: 4px;
    @media (min-width: 1280px) {
        font-size: 70px;
        line-height: 100px;
    }
}

.header {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0px;
    &.logo {
        font-size: 15px;
        line-height: 50px;
    }
    @media (min-width: 1280px) {
        &.logo, & {
            font-size: 42px;
            line-height: 72px;
        }
    }
}

.subhead {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: lowercase;
}

.body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 1px;
}

.nav-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}